@CHARSET "ISO-8859-1";

body {
	font-size: 8px;
	font-family: Arial;
}

html, body {
	height: 100%;
}

ul, li {
	font-size: 14px;
	font-family: Arial;
}

input {
	font-size: 14px;
	font-family: Arial;
}

.table-estilo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* table>thead>tr>th{ */
/* 	 vertical-align: middle;  */
/* 	 text-align: center; */
/* } */
.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info,
	.table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th,
	.table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td,
	.table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info
	{
	background-color: #484848 !important;
	color: #FFFFFF;
}

.table-hover>tbody>tr.info:hover>td, .table-hover>tbody>tr.info:hover>th,
	.table-hover>tbody>tr:hover>.info, .table-hover>tbody>tr>td.info:hover,
	.table-hover>tbody>tr>th.info:hover {
	background-color: #484848 !important;
	color: #FFFFFF;
}

.table>tbody>tr.sub>td, .table>tbody>tr.sub>th, .table>tbody>tr>td.sub,
	.table>tbody>tr>th.sub, .table>tfoot>tr.sub>td, .table>tfoot>tr.sub>th,
	.table>tfoot>tr>td.sub, .table>tfoot>tr>th.sub, .table>thead>tr.sub>td,
	.table>thead>tr.sub>th, .table>thead>tr>td.sub, .table>thead>tr>th.sub
	{
	background-color: #337ab7 !important;
	color: #FFFFFF;
}

.table-hover>tbody>tr.sub:hover>td, .table-hover>tbody>tr.sub:hover>th,
	.table-hover>tbody>tr:hover>.sub, .table-hover>tbody>tr>td.sub:hover,
	.table-hover>tbody>tr>th.sub:hover {
	background-color: #337ab7 !important;
	color: #FFFFFF;
}

.bg-primary {
    background-color: #AAD7FF !important;
    color: #000000 !important;
}


.nav>#btnOperaciones>a:focus, .nav>#btnOperaciones>a:hover {
	background: url(../images/btnOperacionesFocus.jpg) no-repeat;
}

.nav>#btnReportes>a:focus, .nav>#btnReportes>a:hover
{
	background: url(../images/btnReportesFocus.jpg) no-repeat;
}

.container-m {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 20%
}

.navbar-custom {
	color: #FFFFFF;
	background-color: #CC3333;
}

.content {
	width: 100%;
	height: 100%;
}

.content50IZQ {
	width: 50%;
	height: 100%;
	float: left;
	padding-right: 20px;
}

.content50DER {
	width: 50%;
	height: 100%;
	float: right;
}

.abajoIzq {
	clear: left;
	float: left;
	width: 100%;
}

.textA {
	height: 150px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.centrar {
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top: 50%;
	left: 50%;
	/*determinamos una anchura*/
	width: 200px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left: -100px;
	/*determinamos una altura*/
	height: 200px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top: -100px;
	padding: 5px;
	/*border: 1px solid black;*/
}

#container1 {
/* 	background-image: url(../images/fondo.jpg); */
}

#titulo-login {
	align: center;
	padding-top: 30px;
}

#inputUsername {
	height: 20px;
	padding-left: 10px;
	width: 127px;
}

#inputPassword {
	height: 20px;
	padding-left: 10px;
	width: 127px;
}

#btnEntrar {
	height: 35px;
	width: 150px;
	border: #49597b;
	font-size: 14px;
	background: url(../images/btn.jpg) no-repeat;
}

#btnOperaciones {
	width: 150px;
	font-size: 14px;
	background: url(../images/btnOperaciones.jpg) no-repeat;
}

#btnReportes {
	width: 150px;
	font-size: 14px;
	background: url(../images/btnReportes.jpg) no-repeat;
}

#btnPrueba {
	height: 35px;
	width: 150px;
	height: 100;
	background: url(../images/btnMostrar.jpg) no-repeat;
}

#btnInsertar {
	height: 35px;
	width: 150px;
	height: 100;
	background: url(../images/btnActualizar.jpg) no-repeat;
	float: right;
}

#btnSalir {
	height: 35px;
	width: 150px;
	height: 100;
	background: url(../images/btnCerrarSesion.jpg) no-repeat;
}

#Procesar {
	height: 35px;
	width: 150px;
	border: #49597b;
	font-size: 14px;
	background: url(../images/Procesar.jpg) no-repeat;
}

#Actualizar {
	height: 35px;
	width: 150px;
	border: #49597b;
	font-size: 14px;
	background: url(../images/btnActualizar.jpg) no-repeat;
}

#Cancelar {
	height: 35px;
	width: 150px;
	border: #49597b;
	font-size: 14px;
	background: url(../images/Cancelar.jpg) no-repeat;
}


.pad {
	padding-top: 20px;
}

.pad-form {
	padding-left: 30px;
	padding-right: 10px;
	padding-bottom: 15px;
	font-size: 18px;
	font-family: Arial;
}

input:focus {
	box-shadow: 0 0 3px #0E5EAC;
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
	border: 1px solid #0E5EAC;
	background-color: white;
}

select {
	width: 100px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

button:focus {
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
	float: left;
	text-align: left;
}

.span_4_of_5 {
	width: 79.68%;
	float: left;
	text-align: left;
}

.span_3_of_5 {
	width: 59.36%;
	float: left;
	text-align: left;
}

.span_2_of_5 {
	width: 39.04%;
	float: left;
	text-align: left;
}

.span_1_of_5 {
	width: 18.72%;
	float: left;
	text-align: left;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 100%;
	}
	.span_1_of_3 {
		width: 100%;
	}
}

/*--------------- Contenido dinámico-------------*/
#wrapper {
	font-family: sans-serif;
}

/* #container { */
/* 	margin-top: 50px; */
/* 	padding-top: 34px; */
/* 	padding-bottom: 17px; */
/* 	font-size: 25px; */
/* 	border: 1px solid #e4e4eb; */
/* 	border-radius: 10px; */
/* 	box-shadow: 2px 2px 2px #888888; */
/* 	width: 400px; */
/* 	margin-right: auto; */
/* 	margin-left: auto; */
/* 	line-height: 15px; */
/* } */
#info {
	margin-left: -100px;
}

/*--------------- Contenido dinámico-------------*/



/*--------------- Contenido dinámico-------------*/
.ui-datepicker {
	background: #fff; /* Old browsers */
	background: #fff -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%);
	/* FF3.6+ */
	background: #fff
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc)),
		color-stop(100%, #fff)); /* Chrome,Safari4+ */
	background: #fff -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%);
	/* Chrome10+,Safari5.1+ */
	background: #fff -o-linear-gradient(top, #fcfcfc 0%, #fff 100%);
	/* Opera11.10+ */
	background: #fff -ms-linear-gradient(top, #fcfcfc 0%, #fff 100%);
	/* IE10+ */
	background: #fff linear-gradient(top, #fcfcfc 0%, #fff 100%); /* W3C */
	font-size: 11px;
	padding: 10px;
	border: 1px solid #ccc;
	/* background: #999; */
/* 	background: #333; */
/* 	border: 1px solid #555; */
/* 	color: #EEE; */	
}

.ui-datepicker table {
	width: 278px;
}

.ui-datepicker table td {
	text-align: center;
}

.ui-datepicker a {
	cursor: pointer;
	text-decoration: none;
}

.ui-datepicker-prev {
	
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker-title {
	text-align: center;
	font-weight: bold;
}

.cell-center
{
	text-align:center;
}

.cell-right
{
	text-align:right;
}

.cell-left
{
	text-align:left;
}